<div class='post'>
  <article class='card'>
    <div class='card-header flex-row justify-space-between'>
      <h2>{{post.title}}</h2>
      <div>
        Posted by
        {{post.user.dataValues.username}}
        on
        {{format_date post.createdAt}}
      </div>
    </div>
    <div class='card-body'>
      {{post.content}}
    </div>
  </article>

  {{#if post.comments}}
    <section class='card'>
      <div class='card-header'>
        <h3>Comments</h3>
      </div>

      <div class='card-body'>
        {{#each post.comments}}
          <div>
            <p>
              {{this.dataValues.comment}}
            </p>
            <p>
              &mdash;
              {{this.user.dataValues.username}},
              {{format_date this.dataValues.createdAt}}
            </p>
          </div>
        {{/each}}
      </div>
    </section>
  {{/if}}

  <form>
    <div>
      <h3>Add New Comment</h3>
    </div>

    <div class='card-body'>
      <label class='form-label' for='comment-body'>Comment</label>

      <textarea
        name='comment-body'
        class='form-input'
        id='comment-content'
      ></textarea>

      <button type='submit' id='comment-submit-btn'>Submit</button>
    </div>
  </form>
</div>

<script src='/scripts/comment-save.js'></script>